<h1>Poker! </h1>

<%  
ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
suits = ["clubs", "diamonds", "hearts", "spades"]

cards = []

for index in ranks
    for index2 in suits
        card = "#{index}_of_#{index2}"
        cards.push(card)

    end

end
%>

<p>
  <img src="/images/cards/<%=cards[rand(0..51)]%>.svg" alt="">
  <img src="/images/cards/<%=cards[rand(0..51)]%>.svg" alt="">
  <img src="/images/cards/<%=cards[rand(0..51)]%>.svg" alt="">
  <img src="/images/cards/<%=cards[rand(0..51)]%>.svg" alt="">
  <img src="/images/cards/<%=cards[rand(0..51)]%>.svg" alt="">
  

</p>



<p>
<a href="/poker">New Hand!</a>

</p>